a{
 text-decoration: none;
    color: black;
}
ul{
 list-style: none;
 display: flex;
 flex-direction: row;
 justify-content: end;
 gap: 20px;
 margin-right: 10px;
}
nav{
 margin: 0;
 padding: 0;
}
header{
 text-align: center;
}

